<h1>{{editarNuevo}} Heroe <small>{{heroe.superhero}}</small></h1>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">
  <div fxFlex="50" fxLayout="column">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
      <mat-form-field fxFlex="100" fxLayout.xs="column">
        <mat-label>Super Heroe</mat-label>
        <input matInput type="text" [(ngModel)]="heroe.superhero" required />
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Alter Ego</mat-label>
        <input matInput [(ngModel)]="heroe.alter_ego" type="text" required />
      </mat-form-field>
    </div>
    <mat-form-field fxFlex="100">
      <mat-label>Primera Aparicion</mat-label>
      <input
        matInput
        [(ngModel)]="heroe.first_appearance"
        type="text"
        required
      />
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <mat-label>Personajes</mat-label>
      <input matInput [(ngModel)]="heroe.characters" type="text" required />
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <mat-label>Creador</mat-label>
      <mat-select [(ngModel)]="heroe.publisher" required>
        <mat-option
          [value]="creador.id"
          *ngFor="let creador of creadores; let i = index"
        >
          {{ creador.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <mat-label>Photo Url</mat-label>
      <input matInput [(ngModel)]="heroe.alter_img" type="url" required />
    </mat-form-field>
    <br />
    <div fxLayout="column">
      <button
        mat-raised-button
        color="primary"
        (click)="submit()"
        style="width: 100%"
      >
        <mat-icon class="mat-18">edit</mat-icon>
        {{deleteNuevo}}
      </button>
      <span class="spacer"></span>
      <button *ngIf="heroe.id" (click)="deleteHero()"
        mat-raised-button
        color="warn"
        style="width: 100%; margin-top: 5px">
        <mat-icon>remove</mat-icon>
        Borrar
      </button>
    </div>
  </div>
  <div fxFlex="50">
    <img [src]="heroe | imagen" alt="" />
  </div>
</div>
