<p>error404 works!</p>
<ul>
  <li>
    <a [routerLink]="['/auth/login']">Login</a>
  </li>
  <li>
    <a [routerLink]="['/auth/register']">Registro</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/listado']">Listado</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/agregar']">Agregar heroe</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/editar/15']">Editar heroe</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/buscar']">Buscar heroe</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/15']">Heroe</a>
  </li>
</ul>
